<div class="panel-group" id="group-list">
  <div class="panel panel-default">
    <div class="list-group-item item-header">General Info</div>
      {{#each data as |data index|}}

        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="side-nav-item" data-parent="#group-list" data-toggle="collapse" href="#collapse-{{data.id}}" data-index="{{index}}">
              {{data.name}}
            </a>
          </h4>
        </div>

        <div id="collapse-{{data.id}}" class="panel-collapse collapse">
          <ul class="list-group">
          {{#if data.containing_object}}
            {{#each data.containing_object.properties as |property index|}}
              <li class="list-group-item group-property" data-index="{{index}}">{{ property.name }}</li>
            {{/each}}
          {{ else }}
            {{#each data.properties as |property index|}}
              <li class="list-group-item group-property" data-index="{{index}}">{{ property.name }}</li>
            {{/each}}
          {{/if}}
          </ul>
        </div>
      {{/each}}


    </div>
  </div>
</div>
