<div class="panel-group" id="group-list">
  <div class="panel panel-default">
    <div class="list-group-item item-header">Field Groups</div>
      {{#each data as |data index|}}
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="side-nav-item" data-parent="#group-list" data-toggle="collapse" href="#collapse-{{data.id}}" data-index="{{index}}">
              {{data.name}}
            </a>
          </h4>
        </div>

        {{#if data.containing_object}}
          <div id="collapse-{{data.id}}" class="panel-collapse collapse">
            {{> partials/sub-menu subMenuData=data.containing_object }}
          </div>
        {{/if}}

        {{#if data.properties}}
          <div id="collapse-{{data.id}}" class="panel-collapse collapse">
            {{> partials/sub-menu subMenuData=data }}
          </div>
        {{/if}}

      {{/each}}
    </div>
  </div>
</div>
